.lizardometer__container {
  background-color: #2a2a2a;
  color: #e0e0e0;
  height: 100px;
  position: relative;
  width: 300px;
  z-index: 0;
}

.lizardometer__background {
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 300px;
  z-index: 0;
}

.lizardometer__pointer {
  height: auto;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 20px;
  z-index: 1;
}

.lizardometer__values {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lizardometer__value {
  display: inline-block;
  flex: 1 0 auto;
  font-size: 2em;
  text-align: center;
}

.lizardometer__value--min {
  display: inline-block;
  flex: 1 0 auto;
  text-align: left;
}

.lizardometer__value--max {
  display: inline-block;
  flex: 1 0 auto;
  text-align: right;
}
