.lizardometer {
  max-width: 300px;
  position: relative;
}

.lizardometer__background {
  position: relative;
  z-index: 0;
}

.lizardometer__pointer {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 1;
}
